#menu-bar {
	display: none;
}

header label {
	float:right;
	font-size: 28px;
	margin: 8px 0;/*Altura del boton del menu*/
	cursor: pointer;
}


.menu {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(51,51,51,0.9);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;/*Nueva*/
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);/*Nueva*/
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);

	
}

.menu a {
	display:block;
	color: #fff;
	height: 50px;
	text-decoration:none;
	padding: 10px;
	border-bottom: 1 px solid rgba(255,255,255,0.5);
}

.menu a:hover{
 	background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu {
	transform:translateX(0%);
	-webkit-transform:translateX(0%);
	-moz-transform:translateX(0%);
	-o-transform:translateX(0%);
	-ms-transform:translateX(0%);

}





@media (min-width:1024px) {
	.menu {
		position: static;
		width: 90%;
		height: auto;
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		-ms-transform: translateX(0%);

		float: right;
		display: flex;/*Te pone el menu en una linea*/
		-webkit-display: flex;
		-moz-display: flex;
		-o-display: flex;
		-ms-display: flex;
		margin: 3px;
}		
		.menu a {
			border: none;
}
		header label {
			display: none;}
}
